
form {
    width: 100%;
    //background-color: whitesmoke;
    margin: 0 auto;
    margin-bottom: 50px;
}

form label {
    display: block;
    font-size: 1.2em;
    color: darkslategrey;
    padding-left: 3px;    
}

mat-form-field {
    width: 50%;
    margin-bottom: 0.5rem;
}